<%- include("partials/header"); -%>

<div class="header">
  <h1>Current weather</h1>
</div>
<div class="form">
  <form action="/" method="post" id="city-form">
    <div class="input-group mb-3 inv-amount-block center-block">
      <input
        id="validateCity"
        class="form-control"
        name="cityName"
        type="text"
        placeholder="Enter city name"
        aria-describedby="button-addon2"
      />
      <button class="btn btn-dark" type="submit" id="button-addon2">Go</button>
    </div>
  </form>
</div>

<%- include("partials/footer"); -%>
